{% extends 'base.html' %} {% block header %} {% endblock %} {% block content %}
<div class="container">
  <div class="card">
    <h5 class="card-header">{{object.category}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{object.title}}</h5>
      <p class="card-text">{{object.content}}</p>
      <a href="{% url 'list' %}" class="btn btn-primary">Go to list</a>
      <a href="{% url 'update' object.pk %}" class="btn btn-primary">Update</a>
      <a href="{% url 'delete' object.pk %}" class="btn btn-primary">Delete</a>
    </div>
  </div>
  {% endblock %}
</div>
